# Node modules
node_modules/

# Logs
logs/
*.log

# Environment variables
.env

# Build directories
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln

# Temporary files
*.tmp
*.temp
*.bak
